$main-color: #fff;
$highlight-color: #66bb6a;
$section-bgcolor__dark: #424242;
$section-bgcolor__light: #a5d6a7;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  scroll-behavior: smooth; // smooth when scroll
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  border-style: none;
}

body {
  margin: 0;
  line-height: 1.5;
  font-family: Arial;
  color: #66bb6a;
}

/****************** START h- custom style hoanghoa by Nova******************/

.h-overflowHidden {
  overflow: hidden;
}

.h-positionRelative {
  position: relative;
}

.h-positionAbsolute {
  position: absolute;
}

.h-hAuto {
  height: auto;
}

.h-wAuto {
  width: auto;
}

.h-cursorPointer {
  cursor: pointer;
}

.h-boxImgTransform {
  overflow: hidden;
  &:hover {
    img {
      transform: scale(1.1);
    }
  }
  img {
    transition: 0.7s;
    transform: scale(1);
  }
  .product {
    display: flex;
    align-items: center;
  }
}

// .h-overflowEllipsText {
//   display: -webkit-box !important;
//   @include ellips-text(1rem, 1.5, 3);
// }

.h-transitionAll {
  transition: all 0.3s;
}

.h-textCenter {
  text-align: center;
}

.h-opacity-0 {
  opacity: 0;
}

.h-slider {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

// .h-img-100-100 {
//   @include aspect-ratio(100, 100);
// }

.h-img-small {
  object-position: center;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.h-textOverLay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-size: 2.5vw;
  font-weight: bold;
  line-height: 1.2;
  text-shadow: -4px 5px 14px #333333;
}

.h-transform-180 {
  transform: rotate(180deg);
}

.h-cardImageHover {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #333333;
  color: #ffffff;
  font-size: 23px;
  border: none;
  height: 77px;
  .iconNomal {
    display: unset;
  }
  .iconHover {
    display: none;
  }
  &:hover {
    color: rgb(155, 11, 11);
    cursor: pointer;
    .iconNomal {
      display: none;
    }
    .iconHover {
      display: unset;
    }
  }
}

.h-container {
  margin: 0 auto;
  padding: 12px 0;
  max-width: 1440px;
  width: 95%;
}

@media (min-width: 576px) {
  .h-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .h-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .h-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .h-container {
    max-width: 1140px;
  }
}

.h-container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/****************** END h- custom style hoanghoa by Nova******************/
#pagepiling .section {
  text-align: center;
}
#pagepiling .section--1 {
  background-size: cover;
}
#pagepiling .section--2 {
  background-color: #66bb6a;
  background-size: cover;
}
#pagepiling .section--3 {
  background-color: #a89aa5;
  background-size: cover;
}
#pagepiling .section--4 {
  background: url("/asset/image/video-background-dep_110344690.jpg");
  background-size: cover;
}
.home-page {
  .header-page {
    z-index: 2;
    position: absolute;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    background-color: transparent; 
    background-image: none;
  }
  .header__box__menu {
    color: red;
    z-index: 2;
  }
}

.header__box {
  display: flex;
  justify-content: space-between;
}
.box {
  width: 100vw;
  height: 100vh;
  background-color: #1b1c27e8;
  color: #f1f1f1;
  mix-blend-mode: multiply;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  display: block;
  font-size: 255px;
  font-weight: 700;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.sub-title {
  font-size: 60px;
  mix-blend-mode: normal;
  color: #f1f1f1;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.viewport-header {
  position: relative;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
